.nav {
  background : #638a7e;
  width : 100%;
  display : flex;
  color : white;
  padding: 5px 5px 5px 50px;
}

.top {
  text-align: center;
  margin-top: 30px;
}

.buttons {
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.button {
  background-color: #ffffff;
  border: 2px solid #638a7e;
  color: #638a7e;
  padding: 30px;
  max-width: 250px; 
  flex: auto;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #638a7e;
  color: white;
}

.such{
  margin: 50px;
}

.search{
  border: 2px solid #638a7e;
  padding: 5px;
  max-width: 550px; 
}

.search-button{
  padding: 3px;
  cursor: pointer;
  background-color: #638a7e;
  border: 2px solid #638a7e;
  color: #ffffff;
}

.search-button:hover{
  background-color: #ffffff;
  border: 2px solid #638a7e;
  color: #638a7e;
}

.bookcase{
  margin: 30px;
  margin-bottom: 300px;
}

.case-name{
  text-align: left;
}

.book-group{
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.book-list {
  display: flex;
  flex-direction: column; /* 세로 방향으로 줄 배치 */
  gap: 20px; /* 줄 간 간격 */
}

.book-list-item{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  
}

.group-divider{
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.app-info{
  margin: 30px;
  color: #ccc;
}

.line {
  /*라인 색 회색으로 변경하기*/
}